@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;
@import "ngx-toastr/toastr";

// clean up the default margin and padding
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

html,
body,
app-root {
  height: 100%;
}

body {
  width: 100%;
  min-height: 100vh;
  overflow: auto;
  display: flex;
  flex-direction: column;
  background-color: #fff;
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}
