@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;
@import "ngx-toastr/toastr";

// Define your colors
// Define shiny, vibrant colors
$electric-purple: #a044ff; // Shiny electric purple
$bright-pink: #ff3cac; // Bright pink with a neon feel
$golden-yellow: #fddb92; // Vibrant golden yellow

// clean up the default margin and padding
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

html,
body,
app-root {
  height: 100%;
}

body {
  width: 100%;
  min-height: 100vh;
  overflow: auto;
  display: flex;
  flex-direction: column;
  background-color: #fff;
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}

// Create a mix color class
.text-mix {
  // Gradient text effect with vibrant colors
  background: linear-gradient(
    90deg,
    $electric-purple,
    $bright-pink,
    $golden-yellow
  );
  -webkit-background-clip: text; // For Safari
  -webkit-text-fill-color: transparent; // Make text transparent
  background-clip: text; // Clip the background to the text
}

// Solid color mix with a vibrant blend
.text-mix-solid {
  color: mix(
    $electric-purple,
    $bright-pink,
    50%
  ); // Mix electric purple and bright pink equally
}

.custom-scrollbar {
  &::-webkit-scrollbar {
    width: 0;
  }

  &:hover {
    &::-webkit-scrollbar {
      width: 5px;
    }

    &::-webkit-scrollbar-thumb {
      background-color: gray;
      border-radius: 10px;
    }

    &::-webkit-scrollbar-track {
      background: transparent;
    }
  }
}
